{% extends 'layouts/base1.html' %}

{% load static %}


{% block content %}
<div id="seccion1">
    <div id="parte1">
        <div id="contenedorprincipal">
            <img id="imagenSeguroTAR" src="{% static 'STAR.png' %}" alt="imagenSTAR">
            <h3 id="titleimg">Seguro Temporal de Vida Individual</h3>
            <div id="recip1">
                <p class="recipiente1">El Seguro Temporal de Vida Individual, garantiza el pago de la suma asegurada al beneficiario o beneficiarios designados a consecuencia del fallecimiento del asegurado o el anticipo del capital para el asegurado por la invalidez total y permanente; el seguro contiene un conjunto de coberturas básicas y beneficios adicionales los cuales pueden ser contratados de manera opcional.</p>
            </div>
            <div id="recip3">
                <h2 id="cob">Cobertura Básica:</h2>
                <div class="recipe2">
                    <li class="subrecipe2">Fallecimiento por cualquier causa</li>
                    <li class="subrecipe2">Gastos Funerarios</li>
                </div>
                <h2 id="coba">Coberturas Adicionales:</h2>
                <div class="recipe3">
                    <li class="subrecipe3">Invalidez Total y Permanente a consecuencia de enfermedad o accidente</li>
                    <li class="subrecipe3">Muerte Accidental y Desmembramiento</li>
                </div>
            </div>
        </div>
        <div id="hd">
            <div>
                <img id="igm" src="{% static 'atlanv.png' %}" alt="imagenatlanv">
            </div>
            <form id="fm" method="POST">
                {% csrf_token %}
                <h2 id="texto">Llenar los campos de Intermediario, si aplica:</h2>
                <div id="form1">{{form_intermediario2}}</div>
                <h2 id="texto2">Llenar los datos para la cotización:</h2>
                <div id="form2">{{form_CotizadorTAR}} </div>
                <button id="boton1">
                    Cotizar
                </button>
            </form>
        </div>
    </div>
</div>

    <!-- Al final del archivo HTML -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('fm').addEventListener('submit', function (event) {
                if (!validarDatos()) {
                    event.preventDefault();
                    alert('Ingresaste un Dato que no aplica o que no es válido, por favor revisa la Fecha de Nacimiento o la Suma Asegurada.');
                }
            });
            function validarDatos() {
                var nac = document.getElementById('id_Nac').value;
                var sum = document.getElementById('id_Sum').dataset.realValue;
        
                if (!esFechaValida(nac) || !esNumeroValido(sum) || !esEdadValida(nac)) {
                    return false;  // Datos no válidos
                }
        
                return true;  // Datos válidos
            }
            function esNumeroValido(numero) {
                var parsedNumero = parseFloat(numero);
                return !isNaN(parsedNumero) && isFinite(parsedNumero) && (10000 <= parsedNumero && parsedNumero <= 10000000);
            }
            function esFechaValida(fecha) {
            // Verifica si la fecha tiene el formato YYYY/MM/DD
                var regexFecha = /^\d{4}\/\d{2}\/\d{2}$/;
                return regexFecha.test(fecha) && !isNaN(Date.parse(fecha));
            }
            function esEdadValida(fecha) {
                var edad = calcularEdad(fecha);
                return 18 <= edad && edad <= 75;
            }
            function calcularEdad(fecha) {
                var fechaNacimiento = new Date(fecha);
                var hoy = new Date();
                var edad = hoy.getFullYear() - fechaNacimiento.getFullYear();
                var mes = hoy.getMonth() - fechaNacimiento.getMonth();
                if (mes < 0 || (mes === 0 && hoy.getDate() < fechaNacimiento.getDate())) {
                    edad--;
                }
                return edad;
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var sumInput = document.getElementById('id_Sum');

            sumInput.addEventListener('input', function() {
            // Obtener el valor actual del campo y eliminar cualquier caracter no numérico
                var value = this.value.replace(/[^\d.]/g, '');

            // Si hay más de un punto decimal, eliminar los adicionales
                var parts = value.split('.');
                if (parts.length > 2) {
                    parts = [parts.shift(), parts.join('.')];
                }

            // Formatear la parte entera como dólar
                var integerPart = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');

            // Si hay parte decimal, añadir la parte decimal formateada
                var formattedValue = (parts.length === 2) ? '$' + integerPart + '.' + parts[1] : '$' + integerPart;

            // Asignar el valor formateado de vuelta al campo visualmente
                this.value = formattedValue;

            // Actualizar el valor real del campo sin el símbolo de dólar ni las comas de separación
            // Esto es necesario para que las validaciones en el primer script funcionen correctamente
                this.dataset.realValue = value;
            });
            document.getElementById('fm').addEventListener('submit', function() {
                var sumInput = document.getElementById('id_Sum');
                var realValue = sumInput.dataset.realValue;

        // Asignar el valor real al campo antes de enviar el formulario
                sumInput.value = realValue;
            });
        });
    </script>
{% endblock %}